build/
install/
log/
.vscode/
*.swp
src/mybots_firmware/firmware/tools/PID_tune2/arduino_secrets.h
src/mybots_firmware/firmware/smallbot_motors/smallbot_adc_mqtt/arduino_secrets.h
src/mybots_firmware/firmware/bigbot_motors/bigbot_control_MQTT/arduino_secrets.h
src/mybots_firmware/firmware/bigbot_motors/bigbot_control_ADC/arduino_secrets.h
src/mybots_firmware/firmware/bigbot_motors/bigbot_control_ADC_MQTT/arduino_secrets.h
src/mybots_firmware/firmware/bigbot_motors/bigbot_control_ADC_WIFI/arduino_secrets.h
src/mybots_firmware/firmware/bigbot_motors/bigbot_control_Ardu_ADC/arduino_secrets.h
src/mybots_firmware/firmware/bigbot_motors/bigbot_control_PPM_WIFI/arduino_secrets.h
src/mybots_firmware/firmware/bigbot_motors/bigbot_control_PPM_WIFI_v2/bigbot_firmware_parameters.h
src/mybots_firmware/firmware/bigbot_motors/bigbot_control_PPM_WIFI_v3/bigbot_firmware_parameters.h
src/mybots_firmware/firmware/bigbot_motors/bigbot_control_ADC_WIFI_v3/bigbot_firmware_parameters.h
src/mybots_utils/mybots_utils/test_left.py
src/mybots_utils/mybots_utils/test_right.py