<?xml version="1.0"?>

<robot name="zbig" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- ROS 2 Control -->
  
  <gazebo>
    <xacro:if value="$(arg is_sim)">
      <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="gz_ros2_control-system">
        <parameters>$(find zbig_controller)/config/cbot_controllers.yaml</parameters>
      </plugin>
    </xacro:if>
  </gazebo>

  </robot>