<?xml version="1.0"?>

<robot name="zbig" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Check if Load Simulated or Real Hardware Interfaces -->
   <xacro:arg name="is_sim" default="true"/>
 
  <!-- Include physical aspects of the core differential drive robot minus the sensors -->
  <xacro:include filename="$(find zbig_description)/urdf/narrowbot_chassis.urdf.xacro" />
  <xacro:include filename="$(find zbig_description)/urdf/materials.xacro" />

   <!-- Include Plugins -->
  <xacro:include filename="$(find zbig_description)/urdf/narrowbot_gazebo_control.xacro" />
  <xacro:include filename="$(find zbig_description)/urdf/narrowbot_ros2_control.xacro" />

  <!-- Include the sensors -->
  <xacro:include filename="$(find zbig_description)/urdf/lidar_narrowbot.xacro" />
  <xacro:include filename="$(find zbig_description)/urdf/imu_narrowbot.xacro" />

</robot>